<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Introduction</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
  <div class="card">
    <div class="card-header">
      Introduction
    </div>
    <div class="card-body">
      <h5 class="card-title">Important Instructions</h5>
      <h6 class="card-subtitle mb-2 text-muted">
        make sure you keep these two instructions in mind throughout the whole study:
      </h6>
      <br>
      <strong>1.</strong> While the question is displayed on this tablet,
      <strong>do not look</strong> at the bar chart.
      First, read the question carefully and make sure you understand it and know how to proceed to get your answer.
      A picture of the bar chart (with a different dataset) will be provided below the question as a reminder.
      <br>
      <strong>Once you know</strong> how to proceed,
      press the <div class="btn btn-success">Start</div> button,
      look at the actual bar chart and search for the answer.
      You can refer back to this tablet whenever you want and enter your answer while searching.
      <br><br>
      <strong>2.</strong> While searching for the answer,
      be as <strong>fast</strong> and as <strong>accurate</strong> as possible.
      The timer starts when you press <div class="btn btn-success">Start</div>
      and keeps running until you finish entering your answer and press <div class="btn btn-primary">Done</div>.
      You can then rest before proceeding to the next question.
    </div>
    <div class="card-footer">
      <form action="/intro/{{ track }}/3">
        <button type="submit" class="btn btn-primary">Next</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>