<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Introduction</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
  <div class="card">
    <div class="card-header">
      Introduction
    </div>
    <div class="card-body">
      <h5 class="card-title">Digital Example</h5>
      Look at the screen in front of you.
      This is a 3D view of a sample dataset.
      At the intersection of every row (country) and column (year) is the value of the indicator.
      The higher the bar, the higher the value. Now, please do the following:
      <br><br>
      <strong>1. Drag the mouse</strong> horizontally and vertically on top of the 3D view to rotate it.
      <br>
      <strong>2. Click on a bar</strong> to highlight it.
      <br><br>
      You can keep playing with this visualization for 1 to 2 minutes until you are familiar with it.
      Feel free to ask questions to the experimenter.
    </div>
    <div class="card-footer">
      <form action="/intro/{{ track }}/4">
        <button type="submit" class="btn btn-primary">Next</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>