<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Introduction</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
  <div class="card">
    <div class="card-header">
      Task Instructions
    </div>
    <div class="card-body">
      {% if training == True %}
      You will now practice answering questions with this bar chart representation.
      During training, the experimenter will be here to assist you and answer questions.
      <br><br>
      Take your time to read each question and make sure you know what to search for
      on the bar chart before you press <div class="btn btn-success">Start</div>.
      And remember: do not look at the bar chart before you press <div class="btn btn-success">Start</div>.
      Instead, refer to the bar chart image below the question.
      <br><br>
      {% endif %}
      <h5 class="card-title">{{ data['question'] }}</h5>
      <img src="/static/sample-graph.png" width="75%">
      <br><br>
      Once you press <div class="btn btn-success">Start</div>,
      try to be as fast and accurate as possible to get your answer and do not rest
      until you enter your answer and press <div class="btn btn-primary">Done</div>.
    </div>
    <div class="card-footer">
      <form action="/{{ next }}">
        <button type="submit" class="btn btn-success">Start</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>